{%extends "base.html.twig"%}
{% block body %}
    {#<img src="{{boutique.photo_produit[]}}" alt=""/>#}

<legend style="text-align:center">Les Reliques du Bazard</legend>
    <div class="container" style="background-color: rgba(255,255,255,0.1)!important">
        {% set case = 4%}
{% for produits in produit %}
    <legend style="text-align:center">Categories</legend>
    <div style="text-align:center">
        <a type="button" class="btn btn-sm col-lg-3" href="">Tout</a>
    <a type="button" class="btn btn-sm col-lg-3" href="">Figurine</a>
    <a type="button" class="btn btn-sm col-lg-3" href="">Buste</a>
    </div>
    {%if case == 4%}
        <div class="row" style="text-align:center">
            {%set case=0%}
            {%endif%}
                    <div class="produit mb-3 box-shadow" style="width: 250px; border-radius:25px; margin: 15px; border: outset;">
                        <img class="card-img-top" src="{{produits.photoProduit}}" alt="Card image cap" style="border-radius:20px;">
                        <div class="card-body">
                            <p class="card-text" style="color:silver; font-weight:bolder;" >{{produits.nomProduit}}</p>
                            <p class="card-text" style="color:white"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary " href="/ajoutPanier/{{produits.id}}">Ajouter au panier</a>
                 
                                </div>
                                {% endif%}
                                <small class="text-muted" style="color:silver; font-weight:bolder; text-align: right">{{produits.prixProduit}} €</small>
                            </div>
                        </div>
                    </div>
                     {%if case == 3%}       
                </div>
           
 
{%endif%}
{%set case = case+1%}
&nbsp;

    {% endfor%} 
    </div>
{% endblock body %}